@font-face {
  font-family: "cocogoose";
  src: url("./fonts/cocogoose/cocogoose.otf") format("opentype");
}

html {
  -webkit-locale: "en-GB";
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
  background-color: #0f0f0f;
}

body, html {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: Ropa Sans, Ariel, SansSerif, Serif;
  position: relative;
  color: aliceblue;
  line-height: 1.6;
  background: fixed no-repeat;
  margin: 0;
  height: 100%;
}

/*#root {
  height: 100%;
  background: rgb(230,245,254); /* Old browsers */
  /*background: -moz-linear-gradient(top,  rgba(230,245,254,1) 38%, rgba(230,245,254,1) 38%, rgba(10,8,9,1) 100%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top,  rgba(230,245,254,1) 38%,rgba(230,245,254,1) 38%,rgba(10,8,9,1) 100%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom,  rgba(230,245,254,1) 38%,rgba(230,245,254,1) 38%,rgba(10,8,9,1) 100%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f5fe', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
  /*background-repeat: no-repeat;
}*/

#root {
  background: #1a1b1f;
}

.clear {
  clear: both;
}

.page-wrapper {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.canvas {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.app-logo img {
  position: relative;
  z-index: 50;
  height: 200px;
  border-radius: 12px;
  display: block;
  float: left;
  margin-bottom: -65px;
}

#diver-icon {
  position: absolute;
  top: 40px;
  left: 490px;
  height: 40px;
  width: 40px;
  background-image: url('./images/diving-icons-svg/svg/diver.svg');
}

.header-container {
  color: transparent;
}

.app-header {
  position: relative;
  width: 100%;
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

.content {
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-top-style: double;
}

.main-title {
  -webkit-transform: translateY(-80%);
  transform: translateY(-80%);
  transition: -webkit-transform .75s ease-out;
  transition: transform .75s ease-out;
  transition: transform .75s ease-out,-webkit-transform .75s ease-out;
  padding: 20px 15px;
}

.main-title span {
  display: inline-block;
  position: relative;
  left: -.09em;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -.05em;
  line-height: 1.25;
  margin-top: 0;
  width: 100%;
  color: aliceblue;
}

/*----------------------------- 3.3 Navigation Menu --------------------------------*/
#navigation-container {
  display: inline-block;
  margin: auto;
  overflow: auto;
  width: 100%;
}
#menu-container {
  width: 80%;
  margin: auto;
}
#menu-container ul {
  margin-left: 0;
}
#menu-container ul li {
  display: inline;
  float: left;
  position: relative;
}
#menu-container ul li a {
  display: block;
  padding: 2px 14px;
}
#menu-container ul ul {
  width: 170px;
  position: absolute;
  top: 18px;
  padding-top: 25px;
  z-index: 20000;
  display: none;
  margin-top: 1px;
}
#menu-container ul ul ul {
  top: 0;
  left: 170px;
}
#menu-container ul ul li {
  display: block;
  width: 100%;
  float: left;
  padding: 6px 0 5px 0;
  background-color: #fff;
}
#menu-container ul ul li a {
  line-height: 1.8em;
  letter-spacing: 0;
}
#menu-container ul li.current-menu-item ul li a,
#menu-container ul li.current-menu-ancestor ul li a {
  /*.opacity;*/

}
#menu-container ul ul li:hover,
#menu-container ul ul .current-menu-item {
  background-color: #f9f9f7;
}
.mobile-nav, .mob-nav-menu {
  display: none;
}

#menu-container ul li a {
  font-size: 17px;
  font-family: Ropa Sans;
  border-right: 1px dotted #cccccc;
  line-height: 0.5em;
  color: #4a4e51;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  padding: 2px 14px;
}

a {
  color: #383838;
  text-decoration: none;
}

#menu-container ul li a:hover {
  text-decoration: overline;
}

a.nav-active {
  text-decoration: overline;
}


/*----------------------------- END Navigation Menu --------------------------------*/

/*----------------------------- Member List ---------------------------------*/

.about-content .member-row {
  width: 95%;
  margin: auto;
}
.member-list {
  display: inline-block;
  margin-left: -45px;
}
ul.member-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.member-list li {
  display: inline;
}
.member-list img {
  height: 140px;
  width: 140px;
  border: 4px solid black;
  border-radius: 100%;
}
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
/*-----------------------------END Member List ------------------------------*/
/*-----------------------------------Home------------------------------------*/

.home-content {
  padding: 5%;
  font-family: Ropa Sans, Ariel, SansSerif, Serif;
}

#main-video {
  width: 100%;
  margin: auto;
}
/*-------------------------------END Home------------------------------------*/
/*-----------------------------------Gallery---------------------------------*/
.pswp-thumbnail {
  display: inline-block;
  width: 120px;
  height: 90px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}
.pswp-thumbnail > img {
  max-width: 100%;
}

.gallery-content {
  font-family: Ropa Sans, Ariel, SansSerif, Serif;
}
  /*-------------------------------END Gallery---------------------------------*/
/*-------------------------------Events--------------------------------------*/
.events-content {
  padding: 5%;
  font-family: Ropa Sans, Ariel, SansSerif, Serif;
}

.event-title {
  text-align: center;
}

.event-main-image > img {
  margin: auto;
  width: 100%;
  hight: 400px;
}

.event-info {
  text-align: center;
}
/*-------------------------------END Events----------------------------------*/
/*-----------------------------------Footer----------------------------------*/
.footer-background-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 32px;
  border-top-style: double;
}

.footer-bar {
  position: relative;
  width: 100%;
  height: 32px;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  min-width: 980px;
}

ul.footer-menu {
  position: inherit;
  width: 100%;
  list-style: none;
}

ul li.footer-menu-item{
  display: inline-block;
  float: right;
}
/*-------------------------------END Footer----------------------------------*/
.dolphins-navbar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 80%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .app-header {
    padding: 10px;
  }
  .mobile-nav {
    display: block;
    cursor: pointer;
    margin: 15px 3.06% 36px 3.06%;
  }

  #navigation-container {
    display: none;
  }

  .mob-nav-btn {
    height: 15px;
    display: block;
    background: url(images/mob-nav-icon.png) no-repeat;
    background-size: 29px 15px;
    line-height: 1.2em;
  }

  .app-logo img {
    position: relative;
    z-index: 50;
    height: 50px;
    border-radius: 12px;
    display: block;
    float: left;
    margin-bottom: -65px;
  }

  .mobile-menu-container-full {
    width: 100%;
  }

  #mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 12;
    width: 0;
    transition: width .35s;
  }

  .mobile-menu-background {
    right: 0;
  }

  .mobile-menu-background, .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  #mobile-menu-container.mobile-menu-container-full .mobile-menu {
    width: 350px;
    max-width: 100vw;
  }

  .mobile-menu {
    width: 0;
    color: #1c1b1b;
    background: aliceblue;
    overflow: hidden;
    transition: width .35s;
  }

  .mobile-menu-holder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
  }

  .mobile-menu-header {
    padding-left: 20px;
    height: 64px;
  }

  .mobile-menu-header, .mobile-menu-header .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .mobile-menu-header .icon {
    position: relative;
    margin-right: 3px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    -webkit-transform: translate(-9px,-1px);
    transform: translate(-9px,-1px);
  }

  .mobile-menu-header .icon .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    width: 24px;
  }

  .image-container:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .image-container:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .image-container:before, .image-container:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #1c1b1b;
  }
  .mobile-menu-header .title {
    color: inherit;
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 14px;
  }

  .mobile-menu-header .title span {
    display: block;
    margin-bottom: 2px;
    margin-left: 15px;
    font-size: 28px;
    font-family: Ropa Sans, Ariel, SansSerif, Serif;
    font-weight: bold;
  }

  .mobile-menu-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 80px;
    color: #1c1b1b;
  }

  .mobile-menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .mobile-nav-list {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .mobile-nav-item {
    display: block;
    margin-bottom: 30px;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .mobile-nav-link {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0 0 0 77px;
    line-height: 1;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    border-left: 6px solid transparent;
    transition: border .5s;
    color: #1c1b1b;
  }

  /*****************Gallery*****************/

  .gallery-icon-container {
    width: 100%;
  }

  .gallery-icon {
    display: block;
    width: 170px;
    margin: auto;
  }

  .gallery-title {
    position: relative;
    left: -.09em;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -.05em;
    line-height: 1.25;
    line-height: .875;
    letter-spacing: -.025em;
    font-weight: 100;
    -webkit-transform: translateY(-112%);
    transform: translateY(-112%);
    transition: -webkit-transform .75s ease-out;
    transition: transform .75s ease-out;
    transition: transform .75s ease-out,-webkit-transform .75s ease-out;
  }
}