.App {
  text-align: center;
  background-color: dodgerblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
  float: left;
  display: block;
}

.App-header {
  position: relative;
  background-color: #222;
  width: 80%;
  padding: 20px;
  color: white;
  display: inline-block;
  border-radius: 5px;
}

.dolphins-navbar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 80%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.App-intro {
  font-size: large;
}

.content {
  background-color: #222;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.dolphins-content {
  padding: 5%;
}

@keyframes App-logo-spin {
  /*from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }*/
}
